SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
DEPLOYER_PRIVATE_KEY=0xYOUR_PRIVATE_KEY

NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_IMPACT_ASSET_ADDRESS=
NEXT_PUBLIC_IMPACT_TOKEN_ADDRESS=
NEXT_PUBLIC_MARKET_ROUTER_ADDRESS=
NEXT_PUBLIC_UNISWAP_UNIVERSAL_ROUTER_ADDRESS=

NEXT_PUBLIC_ONEINCH_CHAIN_ID=
NEXT_PUBLIC_ONEINCH_API_BASE=https://api.1inch.dev
NEXT_PUBLIC_WORLD_ID_APP_ID=
NEXT_PUBLIC_WORLD_ID_ACTION=verify-investor
